{% extends "base.html" %} {% block title %}{{article.title}}{% endblock %}

{% block content %}

<div class = 'content'>
	<h1>{{article.title}}</h1>
<div class = 'content'>

<h2> Introduction </h2>

<p>
The <a href = "https://www.kaggle.com/datasets/shivanink8/used-cars-dataset" target="_blank" class='contact_url'>"Used Cars" dataset</a> is a combination of information from autotrader.com and carfax.com, 
containing details on approximately 52 used cars,
including their brand, model, year, mileage, city and highway mileage,
horsepower, torque, engine capacity, fuel capacity, number of cylinders, number of seats, number of owners,
price, link, condition, type, number of doors, wheel drive, engine type, speed levels, front headroom, front legroom, rear headroom,
rear legroom, and service records.</p>

<p>In this project, we will conduct an exploratory data analysis (EDA) to understand the distribution of features and identify any correlations between variables.
We will also build several machine learning models to predict the sale price of the used cars,
using techniques such as logistic regression, ridge regression, XGBoost, and GBM. 
Finally, we will create an ensemble model that combines the predictions of the previous models. At the end, you will be able to perform in depth EDA and provide relevant insight to the dataset at hand. You will also learn some of the best practices for creating effective data feeds and building an ensemble model.</p>

{% include "topics_templates/projects_templates/used_cars/Used Cars.html" %}


<h2> Conclusion </h2>

<p>Just using the feeder models, we can see that we can get our performance pretty close to the best individual model & outperform most of them.</p>

<p>The results presented here are by no means optimal, as we would need to finetune the dataset, perform feature selection & feature engineering & generally experiment more to get to the bottom of the problem. Not to mention, that the size of the dataset is not optimal to make predictions on.</p>

<p>I hope however, that this short project, has helped you gain a better understanding of how to perform EDA, how to preprocess your data & how to use transformers to make a secure pipeline. If you found the above useful, please drop a like in my 
 <a href = "https://www.kaggle.com/code/antonyevmorfopoulos/used-cars-eda-ensemble-modelling-pipelines" target="_blank" class='contact_url'>Kaggle</a> submission and/or visit the relevant  <a href = "https://github.com/Antony-evm/Used-Cars-Dataset" target="_blank" class='contact_url'>Github</a> repository. </p>



{% endblock %}