
{% extends "base.html" %} {% block title %}About Me{% endblock %}

{% block content %}

<div class='content'>
<h1>About me</h1>

<h2>Who am I?</h2>

<p> Hi friend. My name is Antony and this... is my website, where I will keep you up to date with my latest data adventures. But first, a little about me. </p>

<p> I grew up in Greece, where I did my Bachelor's in Electrical & Computer Engineering. Apart from the exciting part of being a uni student in Greece, I was also introduced to the field of Data Science. Let me tell you that I immediately knew that this will be my career. Many sleepless and study-filled nights later, I graduated from University (of Thessaly), with a major in Data Science, having devoted two years of my life to this goal. This wasn't enough though. </p>

<p> After graduating, I moved to Glasgow to do my MSc in Data Science. I moved during the peak of the covid years (I sincerely hope I won't bite my tongue with this statement), in a village outside of Glasgow due to personal reasons. The rest you can figure out yourself, as I will not talk about this year a lot. All I am going to say here is that Glasgow did not live up to its hype. </p>

<p> Immediately after I got a job as a Data Analyst. I get to work with data daily and use my skills to make people's life easier, either through automations or by providing insights. I have found during the past year that my competitive nature gives me most joy in two ways: when I get to write efficient, organised and digestible code and when I tackle a long lasting problem. I've had the chance to do both, every day a bit more, moving closer to my goals. </p>

<p> So, what is this website? Well, this is a side project of mine. I wanted to create it because:
  <ul>
	<li> I wanted to create a place to host my portfolio. And what better place to make my case, than my own website? </li>
	<li> I wanted to learn something new entirely, I definitely enjoy a challenge. </li>
	<li> I always had a few ideas for side projects, but I almost never completed them, left them to dust midway, or I didn't take the last step to make it official. Well, this place is supposed to keep me in check and make me do those things! </li>
  </ul>
</p>

<p> If you've found yourself here, you are either a friend of mine or you wandered in the depths of the Internet. Feel free to roam around and I hope that you will find something that will pique your interest!  </p>


</div>

{% endblock %}