{% extends "base.html" %} {% block title %}About Me{% endblock %}
{% block content %}
<div class='content'>
    <h1>About me</h1>
    <h2>Who am I?</h2>
    <p> Hi friend. My name is Antony and this... is my website, where I will keep you up to date with my latest data adventures. I am an an advocate towards continuous improvement, self-motivated and goal oriented Data Scientist. As an individual, I believe that actions speak louder than words, thus I prefer to let my accomplishments to speak for me. Without further ado, here's a list of my major accomplishments.
    </p>
    <p>
        <bold>𝐏𝐫𝐨𝐟𝐞𝐬𝐬𝐢𝐨𝐧𝐚𝐥𝐥𝐲:</bold>
    </p>
    <ul>
        <li>Within my first year as a data analyst, I designed, implemented and automated the Fraud Referral tool, which streamlined lead prioritisation, increased departmental efficiency, saved multiple FTEs and enabled the department to start tracking the performance of the external tools being used.
        </li>
        <li>Led the migration process for the fraud analytics dept, while also identifying critical weaknesses and optimising performance</li>
        <li>Moved laterally within the business as a data scientist, becoming the SME on Claims Fraud for my current department. I am currently working on identifying third party opportunistic fraud with machine/deep learning techniques
        </li>
    </ul>
    <p>
        <bold>𝐀𝐜𝐚𝐝𝐞𝐦𝐢𝐜𝐚𝐥𝐥𝐲:</bold>
    </p>
    <ul>
        <li>Data Science Certification from UTH (University of Thessaly): 8.8/10</li>
        <li>MSc from UofG: First Class Honours / While undertaking a coursera specialisation & attending subjects from another MSc to specialise even further</li>
        <li>Placed 3rd in an internal UofG competition for cancer cell image detection out of 400 applicants</li>
    </ul>
    <p>
        <bold>𝐈𝐧𝐝𝐢𝐯𝐢𝐝𝐮𝐚𝐥𝐥𝐲:</bold>
    </p>
    <ul>
        <li>Moved from Greece, to Glasgow, to London within the span of 2 years</li>
        <li>I am inline with the goals I've set 4 years ago and inline to meet the goals I've set for the next 3 years</li>
        <li>Built a website, without domain knowledge, from scratch. Please visit: aevmorfop.co.uk </li>
    </ul>
    <p>As a person, I am detail-oriented, quick learner and extremely active. Outside of working hours, you can find me working on my website, on kaggle datasets, dancing, working out and learning new languages.</p>
    <p>If I had to describe myself in three words: Efficient!</p>
</div>
{% endblock %}